html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.forum-container{
    display : flex;
    flex-direction:column;
    border:inset;
    background-color:aqua;
    height:900px;
}
.text-item{
    width:600px;
    height:150px;
}
.forum-item {
    border:double;
    background-color:crimson;
    height:auto;
}